@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../fonts/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

html {
  font-size: 18px;
}

body {
  font-family: "Cormorant Garamond", serif;
  color: #181818;
  background-color: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  border-bottom: 2px solid #181818;
  margin-block-end: 2px;
  font-size: 1.33rem;
}

h3 {
  flex: 0 1 80%;
  margin-block-start: 2px;
  margin-block-end: 2px;
  font-size: 1em;
}

p {
  flex: 0 1 80%;
  margin-block-start: 2px;
  margin-block-end: 2px;
}

ul,
ol {
  margin-block-start: 2px;
  margin-block-end: 2px;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

button {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 4px;
  border-radius: 4px;
  fill: #181818;
}

button:hover {
  outline: 1px solid #181818;
}

.wrapper {
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto 60px;
  padding: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

@media (max-width: 860px) {
  .wrapper {
    margin: 0;
  }
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title .name {
  flex-grow: 1;
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.details p {
  margin-left: 40px;
}
