@media print {
  @page {
    size: A4;
  }

  html {
    font-size: 11pt;
  }

  .wrapper {
    box-shadow: none;
  }

  button {
    display: none;
  }

  img {
    filter: grayscale(1);
    -webkit-filter: greyscale(1);
  }
}
